{% extends "classroom/base.html" %}
{% load static %}
{% block content %}


<div class="student-list">
<div class="container">
  <div class="row">
  {% for class in credit_class %}
  <div class="col-6 col-md-4">
  <div class="student-box">
    <div class="imgBx">
      <img src="{% static 'images/longmeow.jpg' %}" alt="">
    <div>
      <div class="content">
        <h3>{{ class.class_id }}</h3>
        <a href="{% url 'classroom:class_details' pk=class.pk %}"><p class="add-button">Details</p> </a>

        <p><i class="far fa-user"></i> Class ID: {{ class.class_id }}</p>
        <p><i class="far fa-user"></i> Teacher: {{ class.teacher_id }}</p>
        <p><i class="far fa-user"></i> Subject Name: {{ class.subject_name }}</p>
        <p><i class="far fa-user"></i> Subject ID: {{ class.subject_id }}</p>
      </div>
    </div>
  </div>
  </div>
  </div>
  {% endfor %}
  </div>
</div>
</div>


{% endblock %}
