{% extends "classroom/base.html" %}
{% load static %}
{% block content %}

<div class="student-list">
<div class="container">
  <div class="row">
  {% for student in class_students_list %}
  <div class="col-6 col-md-4">
    <div class="student-box">
      <div class="imgBx">
        <img src="{% static 'images/longmeow.jpg' %}" alt="">
      </div>
    <div class="content">
      <h3>{{ student.name }}</h3>
      <p><i class="far fa-user"></i> Username: {{ student.name }}</p>
      <p><i class="fal fa-user-tag"></i> Student ID: {{ student.student_id }}</p>
      <p><i class="far fa-phone"></i> Phone: {{ student.phone }}</p>
      <p><i class="far fa-envelope-open-text"></i> Email ID: {{ student.email }}</p>
    </div>
  </div>
  </div>
  {% endfor %}
  </div>

  <div class="column">
    {% for activity in activities %}
    <div class="col-6 col-md-4">
    <div class="student-box">
      <div class="imgBx">
        <img src="{% static 'images/longmeow.jpg' %}" alt="">
      </div>
      <div class="content">
        <h3>Week {{ activity.week_id }}</h3>
        <p href="{}"><i class="far fa-user"></i> Week: {{ activity.week_id }}</p>
        <p><i class="far fa-user"></i> Video: {{ activity.tracking_video }}</p>
      </div>
    </div>
    </div>
    {% endfor %}
    </div>
</div>
</div>

{% endblock %}
