{% extends 'classroom/base.html' %}
{% load static %}
{% block content %}

<div class="profile">
  <img src="{% static 'images/list-background-2.PNG' %}" alt="">
  <div class="profile-box">
    {% if teacher.teacher_profile_pic %}
    <img src="{{ teacher.teacher_profile_pic.url }}" alt="">
    {% else %}
    <img src="{% static 'images/longmeow.jpg' %}" alt="">
    {% endif %}
    <div class="profile-details">
      <h1>{{ teacher.name }}</h1>
      <br>
      <p><i class="far fa-user"></i> Name: {{ teacher.name }}</p>
      <p><i class="far fa-phone"></i> Phone: {{ teacher.phone }}</p>
      <p><i class="far fa-books"></i> Department: {{ teacher.department }}</p>

      <p><i class="far fa-envelope-open-text"></i> Email ID: {{ teacher.email }}</p>
      <a href="{% url 'classroom:teacher_update' pk=user.pk %}"><p class="edit-button">Edit profile</p></a>
    </div>
  </div>
</div>


{% endblock %}
